$font: Helvetica, Arial, sans-serif;
$shadowazul: #0000B2;
$shadowverde: #008200;
$shadownaranja: #AD0B00;

// MAPA
$paleta__colores:(
    azul: #1124f2,
    verde: #49d70b,
    naranja: #fb5c04,
    rosa: #eb0ea7,
);